<a href="https://colab.research.google.com/github/behigu/TellCo-Telecom-User-s-Data-Analysis/blob/main/notebooks/Telco_telecom_user_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

The data used in this analysis can be found in **this link**
https://github.com/behigu/TellCo-Telecom-User-s-Data-Analysis/tree/main/data

In [2]:
pd.set_option('max_column', None)
df= pd.read_csv('drive/MyDrive/ColabNotebooks/Week1_challenge_data_source.csv')

In [3]:
df.head(3)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0

In [4]:
df.shape

(150001, 55)

## we have 150,001.00 records of users data  in a 55 column

In [5]:
for col in df.columns:
    print(col)

Bearer Id
Start
Start ms
End
End ms
Dur. (ms)
IMSI
MSISDN/Number
IMEI
Last Location Name
Avg RTT DL (ms)
Avg RTT UL (ms)
Avg Bearer TP DL (kbps)
Avg Bearer TP UL (kbps)
TCP DL Retrans. Vol (Bytes)
TCP UL Retrans. Vol (Bytes)
DL TP < 50 Kbps (%)
50 Kbps < DL TP < 250 Kbps (%)
250 Kbps < DL TP < 1 Mbps (%)
DL TP > 1 Mbps (%)
UL TP < 10 Kbps (%)
10 Kbps < UL TP < 50 Kbps (%)
50 Kbps < UL TP < 300 Kbps (%)
UL TP > 300 Kbps (%)
HTTP DL (Bytes)
HTTP UL (Bytes)
Activity Duration DL (ms)
Activity Duration UL (ms)
Dur. (ms).1
Handset Manufacturer
Handset Type
Nb of sec with 125000B < Vol DL
Nb of sec with 1250B < Vol UL < 6250B
Nb of sec with 31250B < Vol DL < 125000B
Nb of sec with 37500B < Vol UL
Nb of sec with 6250B < Vol DL < 31250B
Nb of sec with 6250B < Vol UL < 37500B
Nb of sec with Vol DL < 6250B
Nb of sec with Vol UL < 1250B
Social Media DL (Bytes)
Social Media UL (Bytes)
Google DL (Bytes)
Google UL (Bytes)
Email DL (Bytes)
Email UL (Bytes)
Youtube DL (Bytes)
Youtube UL (Bytes)
Netflix DL (Bytes)
Netflix UL (Bytes)
Gaming DL (Bytes)
Gaming UL (Bytes)
Other DL (Bytes)
Other UL (Bytes)
Total UL (Bytes)
Total DL (Bytes)

In [6]:
print(df.columns)
# other way of listing the columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [7]:
df.isna().sum()
#number of records that has no value

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [8]:
    # Calculate total number of cells in dataframe
totalCells = np.product(df.shape)

    # Count number of missing values per column
missingCount = df.isnull().sum()

    # Calculate total number of missing values
totalMissing = missingCount.sum()

    # Calculate percentage of missing values
print("The Telco Telecom dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

The Telco Telecom dataset contains 12.5 % missing values.

In [9]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
print(missing_value_df)

                                          percent_missing
Bearer Id                                        0.660662
Start                                            0.000667
Start ms                                         0.000667
End                                              0.000667
End ms                                           0.000667
Dur. (ms)                                        0.000667
IMSI                                             0.379997
MSISDN/Number                                    0.710662
IMEI                                             0.381331
Last Location Name                               0.768662
Avg RTT DL (ms)                                 18.552543
Avg RTT UL (ms)                                 18.541210
Avg Bearer TP DL (kbps)                          0.000667
Avg Bearer TP UL (kbps)                          0.000667
TCP DL Retrans. Vol (Bytes)                     58.763608
TCP UL Retrans. Vol (Bytes)                     64.432237
DL TP < 50 Kbps (%)                              0.502663
50 Kbps < DL TP < 250 Kbps (%)                   0.502663
250 Kbps < DL TP < 1 Mbps (%)                    0.502663
DL TP > 1 Mbps (%)                               0.502663
UL TP < 10 Kbps (%)                              0.527996
10 Kbps < UL TP < 50 Kbps (%)                    0.527996
50 Kbps < UL TP < 300 Kbps (%)                   0.527996
UL TP > 300 Kbps (%)                             0.527996
HTTP DL (Bytes)                                 54.315638
HTTP UL (Bytes)                                 54.539636
Activity Duration DL (ms)                        0.000667
Activity Duration UL (ms)                        0.000667
Dur. (ms).1                                      0.000667
Handset Manufacturer                             0.381331
Handset Type                                     0.381331
Nb of sec with 125000B < Vol DL                 65.024900
Nb of sec with 1250B < Vol UL < 6250B           61.928920
Nb of sec with 31250B < Vol DL < 125000B        62.390251
Nb of sec with 37500B < Vol UL                  86.835421
Nb of sec with 6250B < Vol DL < 31250B          58.877607
Nb of sec with 6250B < Vol UL < 37500B          74.561503
Nb of sec with Vol DL < 6250B                    0.503330
Nb of sec with Vol UL < 1250B                    0.528663
Social Media DL (Bytes)                          0.000000
Social Media UL (Bytes)                          0.000000
Google DL (Bytes)                                0.000000
Google UL (Bytes)                                0.000000
Email DL (Bytes)                                 0.000000
Email UL (Bytes)                                 0.000000
Youtube DL (Bytes)                               0.000000
Youtube UL (Bytes)                               0.000000
Netflix DL (Bytes)                               0.000000
Netflix UL (Bytes)                               0.000000
Gaming DL (Bytes)                                0.000000
Gaming UL (Bytes)                                0.000000
Other DL (Bytes)                                 0.000000
Other UL (Bytes)                                 0.000000
Total UL (Bytes)                                 0.000667
Total DL (Bytes)                                 0.000667

In [10]:
# drop columns with more than 50% missing values
df_clean = df.drop(['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Nb of sec with 125000B < Vol DL','Nb of sec with 1250B < Vol UL < 6250B','Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B'], axis=1)
df_clean.shape

(150001, 45)

In [11]:
percent_missing = df_clean.isnull().sum() * 100 / len(df_clean)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
print(missing_value_df)

                                percent_missing
Bearer Id                              0.660662
Start                                  0.000667
Start ms                               0.000667
End                                    0.000667
End ms                                 0.000667
Dur. (ms)                              0.000667
IMSI                                   0.379997
MSISDN/Number                          0.710662
IMEI                                   0.381331
Last Location Name                     0.768662
Avg RTT DL (ms)                       18.552543
Avg RTT UL (ms)                       18.541210
Avg Bearer TP DL (kbps)                0.000667
Avg Bearer TP UL (kbps)                0.000667
DL TP < 50 Kbps (%)                    0.502663
50 Kbps < DL TP < 250 Kbps (%)         0.502663
250 Kbps < DL TP < 1 Mbps (%)          0.502663
DL TP > 1 Mbps (%)                     0.502663
UL TP < 10 Kbps (%)                    0.527996
10 Kbps < UL TP < 50 Kbps (%)          0.527996
50 Kbps < UL TP < 300 Kbps (%)         0.527996
UL TP > 300 Kbps (%)                   0.527996
Activity Duration DL (ms)              0.000667
Activity Duration UL (ms)              0.000667
Dur. (ms).1                            0.000667
Handset Manufacturer                   0.381331
Handset Type                           0.381331
Nb of sec with Vol DL < 6250B          0.503330
Nb of sec with Vol UL < 1250B          0.528663
Social Media DL (Bytes)                0.000000
Social Media UL (Bytes)                0.000000
Google DL (Bytes)                      0.000000
Google UL (Bytes)                      0.000000
Email DL (Bytes)                       0.000000
Email UL (Bytes)                       0.000000
Youtube DL (Bytes)                     0.000000
Youtube UL (Bytes)                     0.000000
Netflix DL (Bytes)                     0.000000
Netflix UL (Bytes)                     0.000000
Gaming DL (Bytes)                      0.000000
Gaming UL (Bytes)                      0.000000
Other DL (Bytes)                       0.000000
Other UL (Bytes)                       0.000000
Total UL (Bytes)                       0.000667
Total DL (Bytes)                       0.000667

In [12]:
# replace-nan-values-of-bearer-id-,-imei-with-forward-value-of-columns
df_clean['Bearer Id'] = df_clean['Bearer Id'].fillna(method='ffill')
df_clean['IMEI'] = df_clean['IMEI'].fillna(method='ffill')

In [13]:
df_clean['Last Location Name'].fillna('Unknow', inplace=True)
#replace all NAN values of location with unknown

In [14]:
for column in df_clean.columns:
    df_clean[column].fillna(df_clean[column].mode()[0], inplace=True)

In [15]:
percent_missing = df_clean.isnull().sum() * 100 / len(df_clean)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
print(missing_value_df)
#checking if there is any column with nan value

                                percent_missing
Bearer Id                                   0.0
Start                                       0.0
Start ms                                    0.0
End                                         0.0
End ms                                      0.0
Dur. (ms)                                   0.0
IMSI                                        0.0
MSISDN/Number                               0.0
IMEI                                        0.0
Last Location Name                          0.0
Avg RTT DL (ms)                             0.0
Avg RTT UL (ms)                             0.0
Avg Bearer TP DL (kbps)                     0.0
Avg Bearer TP UL (kbps)                     0.0
DL TP < 50 Kbps (%)                         0.0
50 Kbps < DL TP < 250 Kbps (%)              0.0
250 Kbps < DL TP < 1 Mbps (%)               0.0
DL TP > 1 Mbps (%)                          0.0
UL TP < 10 Kbps (%)                         0.0
10 Kbps < UL TP < 50 Kbps (%)               0.0
50 Kbps < UL TP < 300 Kbps (%)              0.0
UL TP > 300 Kbps (%)                        0.0
Activity Duration DL (ms)                   0.0
Activity Duration UL (ms)                   0.0
Dur. (ms).1                                 0.0
Handset Manufacturer                        0.0
Handset Type                                0.0
Nb of sec with Vol DL < 6250B               0.0
Nb of sec with Vol UL < 1250B               0.0
Social Media DL (Bytes)                     0.0
Social Media UL (Bytes)                     0.0
Google DL (Bytes)                           0.0
Google UL (Bytes)                           0.0
Email DL (Bytes)                            0.0
Email UL (Bytes)                            0.0
Youtube DL (Bytes)                          0.0
Youtube UL (Bytes)                          0.0
Netflix DL (Bytes)                          0.0
Netflix UL (Bytes)                          0.0
Gaming DL (Bytes)                           0.0
Gaming UL (Bytes)                           0.0
Other DL (Bytes)                            0.0
Other UL (Bytes)                            0.0
Total UL (Bytes)                            0.0
Total DL (Bytes)                            0.0

In [16]:
#df_clean.agg(x=('MSISDN/Number', max), y=('Social Media DL (Bytes)', 'min'), z=('Social Media UL (Bytes)', np.mean))
#df_clean.groupby('MSISDN/Number').agg(['min', 'max'])

In [17]:
#df_clean.dtypes
df_clean.groupby('MSISDN/Number').agg({'Social Media DL (Bytes)': ['min', 'max'], 'Social Media UL (Bytes)': 'sum'})

              Social Media DL (Bytes)            Social Media UL (Bytes)
                                  min        max                     sum
MSISDN/Number
3.360100e+10                2206504.0  2206504.0                 25631.0
3.360100e+10                2598548.0  2598548.0                 62017.0
3.360100e+10                3148004.0  3148004.0                 47619.0
3.360101e+10                 251469.0   251469.0                 28825.0
3.360101e+10                1359904.0  1501326.0                 51312.0
...                               ...        ...                     ...
3.379000e+10                 234320.0   234320.0                 65863.0
3.379000e+10                 442214.0   442214.0                 56355.0
3.197020e+12                 668596.0   668596.0                 46628.0
3.370000e+14                 496337.0   496337.0                 25229.0
8.823970e+14                1500145.0  1500145.0                 45943.0

[106856 rows x 3 columns]

In [22]:
#df_clean["Start"]= pd.to_datetime(df_clean["Start"])
df_clean['Start'] = pd.to_datetime(df_clean['Start'], errors='coerce')
df_clean['End'] = pd.to_datetime(df_clean['End'], errors='coerce')

#df_clean['Last Location Name'] = df_clean['Last Location Name'].astype(str)
#df['Handset Manufacturer'] = df['Handset Manufacturer'].astype('|S')
#df['Handset Type'] = df['Handset Type'].astype('|S')
#df_clean["Last Location Name"] = df_clean["Last Location Name"].apply(str)
#df_clean['Last Location Name'] = df_clean['Last Location Name'].str.split(',')

df_clean['Handset Manufacturer'] = df_clean['Handset Manufacturer'].astype('str')

In [23]:
df_clean.dtypes

Bearer Id                                float64
Start                             datetime64[ns]
Start ms                                 float64
End                               datetime64[ns]
End ms                                   float64
Dur. (ms)                                float64
IMSI                                     float64
MSISDN/Number                            float64
IMEI                                     float64
Last Location Name                        object
Avg RTT DL (ms)                          float64
Avg RTT UL (ms)                          float64
Avg Bearer TP DL (kbps)                  float64
Avg Bearer TP UL (kbps)                  float64
DL TP < 50 Kbps (%)                      float64
50 Kbps < DL TP < 250 Kbps (%)           float64
250 Kbps < DL TP < 1 Mbps (%)            float64
DL TP > 1 Mbps (%)                       float64
UL TP < 10 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)            float64
50 Kbps < UL TP < 300 Kbps (%)           float64
UL TP > 300 Kbps (%)                     float64
Activity Duration DL (ms)                float64
Activity Duration UL (ms)                float64
Dur. (ms).1                              float64
Handset Manufacturer                      object
Handset Type                              object
Nb of sec with Vol DL < 6250B            float64
Nb of sec with Vol UL < 1250B            float64
Social Media DL (Bytes)                  float64
Social Media UL (Bytes)                  float64
Google DL (Bytes)                        float64
Google UL (Bytes)                        float64
Email DL (Bytes)                         float64
Email UL (Bytes)                         float64
Youtube DL (Bytes)                       float64
Youtube UL (Bytes)                       float64
Netflix DL (Bytes)                       float64
Netflix UL (Bytes)                       float64
Gaming DL (Bytes)                        float64
Gaming UL (Bytes)                        float64
Other DL (Bytes)                         float64
Other UL (Bytes)                         float64
Total UL (Bytes)                         float64
Total DL (Bytes)                         float64
dtype: object

In [24]:
df_clean.head(10)
#dur.(ms).1 column seems irrelevant and I might drop it

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,42.0,5.0,23.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,65.0,5.0,16.0,26.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,28.0,5.0,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,28.0,5.0,44.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,3330.0,37882.0,1.321510e+09,undefined,undefined,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,28.0,5.0,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0
5,1.311450e+19,2019-04-12 21:37:00,439.0,2019-04-25 08:08:00,553.0,1074638.0,2.082010e+14,3.366819e+10,3.529840e+13,T89132C,28.0,5.0,70.0,54.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,22639.0,22700.0,1.074638e+09,undefined,undefined,112.0,118.0,3148833.0,51181.0,10351530.0,2582603.0,1980032.0,922378.0,21332918.0,2611113.0,7345361.0,6536448.0,710293538.0,13167974.0,654978277.0,4436057.0,30307754.0,754452212.0
6,1.311450e+19,2019-04-13 08:41:00,612.0,2019-04-25 08:16:00,168.0,1035261.0,2.082010e+14,3.366537e+10,8.676270e+13,9.16457E+15,102.0,5.0,22.0,38.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,9785.0,316210.0,1.035262e+09,Huawei,Huawei Mate 20 Lite,33.0,655.0,1623509.0,1482.0,1837897.0,3068975.0,1838947.0,252032.0,7234465.0,1886295.0,13231006.0,17981760.0,44796223.0,14084934.0,803653557.0,10649768.0,47925246.0,70562047.0
7,1.304240e+19,2019-04-14 02:11:00,592.0,2019-04-25 02:26:00,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,39.0,18.0,3698.0,416.0,99.0,0.0,0.0,0.0,99.0,0.0,0.0,0.0,70832.0,74477.0,9.512929e+08,undefined,undefined,708.0,666.0,3103940.0,57463.0,1304524.0,2568189.0,2987408.0,512696.0,12189786.0,19735183.0,6858496.0,12075206.0,748906189.0,16149622.0,537601820.0,7714657.0,58813016.0,775350343.0
8,1.311450e+19,2019-04-14 12:48:00,121.0,2019-04-25 10:22:00,960.0,941634.0,2.082010e+14,3.369874e+10,3.556240e+13,T42084A,28.0,5.0,46.0,49.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,162472.0,176488.0,9.416348e+08,Samsung,Samsung Galaxy A8 (2018),794.0,826.0,342043.0,30582.0,7560820.0,1341279.0,3014208.0,365861.0,18436641.0,10860867.0,10587264.0,8467177.0,821671285.0,6548349.0,172920486.0,14749031.0,42363146.0,861612261.0
9,1.304240e+19,2019-04-15 00:32:00,0.0,2019-04-25 00:40:00,284.0,864482.0,2.082000e+14,3.365922e+10,3.557310e+13,L20434C,97.0,7.0,3845.0,2535.0,70.0,26.0,2.0,0.0,99.0,0.0,0.0,0.0,1537874.0,1542046.0,8.644823e+08,Samsung,Samsung Galaxy Note 8 (Sm-N950F Ds),4421.0,6344.0,1541259.0,44154.0,8601949.0,176392.0,522457.0,243589.0,16338345.0,6573194.0,12211149.0,974201.0,811355188.0,1591237.0,64856042.0,12815208.0,22417975.0,850570347.0

In [25]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler()

In [51]:
# task 1.1 A
df_clean.groupby('MSISDN/Number').agg({'Bearer Id': 'count'}).head(10)

               Bearer Id
MSISDN/Number
3.360100e+10           1
3.360100e+10           1
3.360100e+10           1
3.360101e+10           1
3.360101e+10           2
3.360101e+10           2
3.360101e+10           2
3.360101e+10           1
3.360101e+10           2
3.360102e+10           1

In [31]:
df_clean.groupby('MSISDN/Number').agg({'Google DL (Bytes)': ['min', 'max'], 'Google UL (Bytes)': ['min', 'max'], 'Social Media UL (Bytes)': 'sum'})

              Google DL (Bytes)            Google UL (Bytes)             \
                            min        max               min        max
MSISDN/Number
3.360100e+10          3337123.0  3337123.0         1051882.0  1051882.0
3.360100e+10          4197697.0  4197697.0         1137166.0  1137166.0
3.360100e+10          3343483.0  3343483.0           99643.0    99643.0
3.360101e+10          5937765.0  5937765.0         3740728.0  3740728.0
3.360101e+10          6309062.0  7419606.0         2019919.0  2751029.0
...                         ...        ...               ...        ...
3.379000e+10          6834178.0  6834178.0          697091.0   697091.0
3.379000e+10          1472406.0  1472406.0         3957299.0  3957299.0
3.197020e+12          8572779.0  8572779.0         1865881.0  1865881.0
3.370000e+14          8215537.0  8215537.0         1615080.0  1615080.0
8.823970e+14          5985089.0  5985089.0         3233558.0  3233558.0

              Social Media UL (Bytes)
                                  sum
MSISDN/Number
3.360100e+10                  25631.0
3.360100e+10                  62017.0
3.360100e+10                  47619.0
3.360101e+10                  28825.0
3.360101e+10                  51312.0
...                               ...
3.379000e+10                  65863.0
3.379000e+10                  56355.0
3.197020e+12                  46628.0
3.370000e+14                  25229.0
8.823970e+14                  45943.0

[106856 rows x 5 columns]

In [52]:
#Session duration
df_clean.groupby('MSISDN/Number').agg({'Dur. (ms)': 'sum'}).head(10)

               Dur. (ms)
MSISDN/Number
3.360100e+10    116720.0
3.360100e+10    181230.0
3.360100e+10    134969.0
3.360101e+10     49878.0
3.360101e+10     37104.0
3.360101e+10    253983.0
3.360101e+10    128360.0
3.360101e+10     86399.0
3.360101e+10    495702.0
3.360102e+10    124854.0

In [53]:
#the total download (DL) and upload (UL) data
df_clean.groupby('MSISDN/Number').agg({'Total UL (Bytes)': 'sum','Total DL (Bytes)': 'sum' }).head(10)

               Total UL (Bytes)  Total DL (Bytes)
MSISDN/Number
3.360100e+10         36053108.0      8.426375e+08
3.360100e+10         36104459.0      1.207552e+08
3.360100e+10         39306820.0      5.566597e+08
3.360101e+10         20327526.0      4.019932e+08
3.360101e+10         94280527.0      1.363130e+09
3.360101e+10         60009249.0      5.552080e+08
3.360101e+10        101681858.0      5.530412e+08
3.360101e+10         38575279.0      2.940851e+08
3.360101e+10         93572016.0      8.965602e+08
3.360102e+10         47091008.0      6.853728e+08

In [58]:
#the total data volume (in Bytes) during this session for each application
df_clean['Youtube_total_data_volume'] = df_clean['Youtube DL (Bytes)'] + df_clean['Youtube UL (Bytes)']
df_clean['Google_total_data_volume'] = df_clean['Google DL (Bytes)'] + df_clean['Google UL (Bytes)']
df_clean['Email_total_data_volume'] = df_clean['Email DL (Bytes)'] + df_clean['Email UL (Bytes)']

df_clean['Netflix_total_data_volume'] = df_clean['Netflix DL (Bytes)'] + df_clean['Netflix UL (Bytes)']
df_clean['Gaming_total_data_volume'] = df_clean['Gaming DL (Bytes)'] + df_clean['Gaming UL (Bytes)']
df_clean['Other_total_data_volume'] = df_clean['Other DL (Bytes)'] + df_clean['Other UL (Bytes)']
df_clean['SocialMedia_total_data_volume'] = df_clean['Social Media DL (Bytes)'] + df_clean['Social Media UL (Bytes)']

df_clean['All_total_data_volume'] = df_clean['Total DL (Bytes)'] + df_clean['Total UL (Bytes)']

In [59]:
#the total data volume (in Bytes) during this session for each application
df_clean.groupby('MSISDN/Number').agg({'Youtube_total_data_volume': 'sum','Google_total_data_volume': 'sum','Email_total_data_volume': 'sum','Netflix_total_data_volume': 'sum','Gaming_total_data_volume': 'sum','Other_total_data_volume': 'sum','SocialMedia_total_data_volume': 'sum','All_total_data_volume':'sum' }).head(10)

,Youtube_total_data_volume,Google_total_data_volume,Email_total_data_volume,Netflix_total_data_volume,Gaming_total_data_volume,Other_total_data_volume,SocialMedia_total_data_volume,All_total_data_volume
MSISDN/Number,,,,,,,,
3.360100e+10,21624548.0,4389005.0,1331362.0,27180981.0,8.124587e+08,3.865709e+08,2232135.0,8.786906e+08
3.360100e+10,12432223.0,5334863.0,3307781.0,11221763.0,1.197501e+08,2.817101e+08,2660565.0,1.568596e+08
3.360100e+10,21333570.0,3443126.0,3205380.0,19353900.0,5.388277e+08,5.016937e+08,3195623.0,5.959665e+08
3.360101e+10,6977321.0,9678493.0,2284670.0,1942092.0,3.911261e+08,3.527970e+07,280294.0,4.223207e+08
3.360101e+10,41533002.0,18499616.0,3305469.0,49201724.0,1.314798e+09,8.048045e+08,2912542.0,1.457411e+09
3.360101e+10,34347122.0,15263134.0,7848596.0,30315501.0,5.116358e+08,4.923728e+08,3792912.0,6.152172e+08
3.360101e+10,26431335.0,10196403.0,1358959.0,45812397.0,5.484611e+08,2.248887e+08,2769627.0,6.547231e+08
3.360101e+10,18892740.0,12023614.0,2215563.0,15292840.0,2.823644e+08,1.782015e+08,1782692.0,3.326604e+08
3.360101e+10,63443802.0,14134211.0,4599825.0,54216117.0,8.330880e+08,1.041883e+09,5288685.0,9.901322e+08
3.360102e+10,28569712.0,12935169.0,2783280.0,35525071.0,6.470957e+08,1.383392e+08,956775.0,7.324638e+08

In [60]:
#count occurnce of cellphone manufacturers 
df_clean['Handset Manufacturer'].value_counts()

Apple                                            60137
Samsung                                          40839
Huawei                                           34423
undefined                                         8987
Sony Mobile Communications Ab                      980
                                                 ...
Honstech Communication Co Ltd                        1
Shenzhen New Chabridge Communication Co Ltd          1
Shenzhen City Ramos Digital Technology Co Ltd        1
Shenzhen Sprocomm Technologies Co Ltd                1
Sintave Technology (Group) Co Ltd                    1
Name: Handset Manufacturer, Length: 170, dtype: int64

In [61]:
df_clean['Total DL (Bytes)'].describe()

count    1.500010e+05
mean     4.546409e+08
std      2.441440e+08
min      7.114041e+06
25%      2.431057e+08
50%      4.558409e+08
75%      6.657051e+08
max      9.029696e+08
Name: Total DL (Bytes), dtype: float64

In [62]:
df_clean['Total UL (Bytes)'].describe()

count    1.500010e+05
mean     4.112106e+07
std      1.127649e+07
min      2.866892e+06
25%      3.322196e+07
50%      4.114324e+07
75%      4.903424e+07
max      7.833131e+07
Name: Total UL (Bytes), dtype: float64